.wrapper{
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.button{
  width: 160px;
  min-height: 40px;
  margin-top: 5px;
  border-radius: 10%;
  border: 1px solid white;
  background-color: white;
}
.button:hover{
  border: 1px solid grey;
  background-color: grey;
}